

//styling for carts go here.
.cart--closed {
	position: absolute;
	right: 0;
	top: 65px;
	// width: 250px;
	padding: 12px 20px;
	text-align: center;
	color: $rtc;
	background: $hbc;
	border-radius: 35px 0 0 35px;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 1;
  transform: translateX(420px);
}

.cart--open {
	position: absolute;
	right: 0;
	top: 65px;
	width: 400px;
	padding: 10px;
	text-align: center;
	color: $hbc;
	background: $pbc;
	vertical-align: top;
	border-radius: 35px 0 0 35px;
    box-shadow: -2px 3px 15px rgba(0, 0, 0, 0.15);
	transition: all 550ms cubic-bezier(.75,.49,.31,1);

	li {
		display: inline-block;
		margin: 0 auto 15px;
		img {
			max-width: 50%;
		}
		h4,p,.highlighted {
			padding: 0 0 5px;
		}
		h4 {
			font-size: 120%;
			text-transform: uppercase;
		}
		p {
			color: $stc;
			font-size: 100%;
		}
		.highlighted {
			font-size: 140%;
			color: $htc;
			font-weight: bold;
		}
		.btn--cart {
			background: $htc;
			font-size: 100%;
			padding: 5px 15px;
			&:hover {
				background: $pbc;
			}
		}
	}

}
