
// default element styling

.grid {
	@include grid();
	padding: 30px 20px;
	text-align: center;
}
.grid--large {
	@include grid(1024px);
	text-align: center;
	h1 {
		padding: 30px;
		text-align: center;
	}
}
body {
	position: relative;
}


//box shadow for blocks or elements level;
.box-shadow {
	box-shadow: -1px 1px 9px rgba(0,0,0,0.25);
}
//adds bottom margin to element
.margin-bottom {
	margin-bottom: 15px;
}
//random styling for little top nav logo
a {
	border-radius: 40px;
	background: $htc;
	text-transform: uppercase;
	color: $rtc;
	transition-duration: 0.5s;
	border: 2px solid transparent;
	&:hover {
		color: $htc;
		background: $rtc;
		border: 2px solid $htc;
	}
}

//modal warning
.warning {
	font-size: 400%;
	font-weight: bold;
	padding: 20px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin: 0 auto 30px;
	color: $rtc;
	background: $htc;

}
