// NAV section

// uncomment if top nav is needed
nav {
	position: fixed;
	width: 100%;
	z-index: 2;
	color: $rtc;
	background-color: $hbc;
	.grid {
		padding: 0;
		margin: 0 auto;

		ul {
			margin-top: 0;
			li {
				display:inline-block;
			}
		}
	}
}
//offset top margin ( use if top nave needed)
.offset--top {
	padding-top: 150px;
}

// left nav submenu
.nav--left {
	position: fixed;
	width: 15%;
	background: #333;
	height: 100%;
	z-index: 10;
	ul {

	}
}
