// NAV section

// uncomment if top nav is needed
nav {
	// position: fixed;
	width: 100%;
	padding: 15px;
	z-index: 2;
	color: $rtc;
	background-color: $hbc;
	.grid {
		padding: 0;
		margin: 0 auto;

		a {
			padding: 10px;
			text-decoration: none;
			font-size: 130%;
		}
	}
}
//offset top margin ( use if top nave needed)
.offset--top {
	padding-top: 150px;
}

// left nav submenu
.fade-enter-active, .fade-leave-active {
  transition: opacity .8s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 1;
}
.slide-fade-enter-active {
  transition: all 1s cubic-bezier(.75,.49,.31,1);
}
.slide-fade-leave-active {
  transition: all 1s cubic-bezier(.75,.49,.31,1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(-300px);
  opacity: 1;
}



.nav--left {
	position: absolute;
    width: 300px;
    left: 0%;
    background: #333;
    height: 100%;
    z-index: 10;
	transition-duration: 300ms;
	.nav-open {
		transition: all 300ms ease-in-out;
	}
}
.nav-closed {
	padding: 8px 20px;
	position: absolute;
	left: -1px;
	margin-top: 10px;
	color: $rtc;
	background: #333;
	border-radius: 0 35px 35px 0;
	font-size: 250%;
	font-weight: bold;
}
